# 가상화폐 시세 판단하기

> 최고가와 최저가의 차이를 변동폭으로 정의할 때 (시가 + 변동폭)이 최고가 보다 높을 경우 "상승장", 그렇지 않은 경우 "하락장" 문자열을 출력하라.

|Key Name        |     Description|
|---|---|
|opeing_price    |최근 24시간 내 시작 거래금액|
|closing_price   |최근 24시간 내 마지막 거래금액|
|min_price       |최근 24시간 내 최저 거래금액|
|max_price       |최근 24시간 내 최고 거래금액|

In [ ]:
import requests
btc = requests.get("https://api.bithumb.com/public/ticker/btc").json()['data']
print(btc)

In [ ]:
# 아래에 코드를 작성하세요.

## 모든 가상화폐 시세 판단하기

> currrency dictionary에 담겨있는 모든 가상화폐 거래내역을 바탕으로 출력하라.
>
> 예외 처리에 유의하세요.
--- 
```
예시 출력)
BTC 상승장
ETH 상승장
DASH 상승장
LTC 하락장
ETC 하락장
XRP 상승장
BCH 상승장
...
```

In [ ]:
currency = requests.get("https://api.bithumb.com/public/ticker/all").json()['data']
print(currency)

In [ ]:
# 아래에 코드를 작성하세요.

# 모음 제거하기

> 다음 문장의 모음을 제거하여 출력하세요.
---
```
예시 입력)
"Life is too short, you need python"
```

```
예시 출력)
Lf s t shrt, y nd pythn
```

In [9]:
a = "oh chang hee"
# 아래에 코드를 작성하세요.
result = ''
vowel = ['a','e','i','o','u']

for word in a:
#     print(word)
    if word not in vowel:
        result += word
        print(result)

# print(result)

h
h
h c
h ch
h chn
h chng
h chng
h chng h

In [15]:
a = "oh chang hee"
vowel = "aeiou"
vowel = ['a','e','i','o','u']
for spel in vowel:
    a = a.replace(spel,"")
print(a)

h chng h

In [20]:
# a = "abcdefg"
# for i in a:
#     print(i)
    
# b = ["a","b","c","d"]
# for i in b:
#     print(i)
    
# c = range(5)
# for i in c:
#     print(i)
    
d = {1:1,2:2}
for i in d:
    print(i)

1
2

# 영어 이름 출력하기 

> 영어 이름은 가운데 이름을 가지고 있는 경우가 있습니다.
>
> 가운데 이름은 축약해서 나타내는 함수를 작성해보세요.

---
```
예시 입력)
Alice Betty Catherine Davis
Oh Chang Hee
Tom Hanks
```
```
예시 출력)
Alice B. C. Davis
Oh C. Hee
Tom Hanks
```

In [21]:
name = input()
# 아래에 코드를 작성하세요.

123

In [23]:
name = "oh chang hee"
# 아래에 코드를 작성하세요.
cut_name = name.split()
rest = cut_name[1:-1]
note = []
for i in rest:
    slices = i.replace(i[1:],".")
    note.append(slices)
result = " ".join(note)
print(cut_name[0], result, cut_name[-1])

oh c. hee

In [38]:
name = "oh chang hee"
names = name.split()
result = ""

for idx,word in enumerate(names):
    if idx==0 or idx==len(names)-1:
        result += word + " "
    else:
        result += word[0] + ". "
print(result)

oh c. hee

# 달력 출력하기

> 1월 1일 월요일부터 12월 31일까지 달력을 출력하세요.

---
```
예시 출력)
         1 월
Mo Tu We Th Fr Sa Su 
 1  2  3  4  5  6  7 
 8  9 10 11 12 13 14 
15 16 17 18 19 20 21 
22 23 24 25 26 27 28 
29 30 31 
         2 월
Mo Tu We Th Fr Sa Su 
 1  2  3  4  5  6  7 
 8  9 10 11 12 13 14 
15 16 17 18 19 20 21 
22 23 24 25 26 27 28 

         3 월
Mo Tu We Th Fr Sa Su 
 1  2  3  4  5  6  7 
 8  9 10 11 12 13 14 
15 16 17 18 19 20 21 
22 23 24 25 26 27 28 
29 30 31 
         4 월
Mo Tu We Th Fr Sa Su 
 1  2  3  4  5  6  7 
 8  9 10 11 12 13 14 
15 16 17 18 19 20 21 
22 23 24 25 26 27 28 
29 30 
```

In [62]:
celendar = {
    1:31, 2:28, 3:31, 4:30, 5:31, 6:30,
    7:31, 8:31, 9:30, 10:31, 11:30, 12:31
}
weeks = ["Mo", "Tu", "We", "Th", "Fr", "Sa", "Su" ]


for month,count in celendar.items():
    count_week = 0
    print(f"{month:10} 월")
    
    for week in weeks:
        print(f"{week}",end=" ")
    print()
    
    for day in range(1,count+1):
        print(f"{day:2}",end=" ")
        count_week += 1
        if count_week== 7:
            print()
            count_week = 0
    print()

         1 월
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31
         2 월
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28

         3 월
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31
         4 월
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30
         5 월
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31
         6 월
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30
         7 월
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31
         8 월
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31
         9 월
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30
        10 월
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31
        11 월
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30
        12 월
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31

In [40]:
month = range(1,13)
day = [31,28,31,30,31,30,31,31,30,31,30,31]
dict_date = {
    0:"Su",
    1:"Mo",
    2:"Tu",
    3:"We",
    4:"Th",
    5:"Fr",
    6:"Sa"
}

index = 0
first_row = False
arr = list()

for m in month:
    print(f"{m} 월".center(20))
    print(" ".join(dict_date.values()))

    first_row = True

    for d in range(1,day[m-1]+1):
        arr.append([index,d])
        if index%7==0 and index/7 > 0 and first_row==False:
            print()

        if first_row:
            print(f"{'   '*(index%7)}", end="")
            first_row = False

        if d < 10 :
            print(f" {d} ", end="")
        else:
            print(f"{d} ", end="")
        index += 1
    print()

        1 월
Su Mo Tu We Th Fr Sa
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31
        2 월
Su Mo Tu We Th Fr Sa
          1  2  3  4
 5  6  7  8  9 10 11
12 13 14 15 16 17 18
19 20 21 22 23 24 25
26 27 28
        3 월
Su Mo Tu We Th Fr Sa
          1  2  3  4
 5  6  7  8  9 10 11
12 13 14 15 16 17 18
19 20 21 22 23 24 25
26 27 28 29 30 31
        4 월
Su Mo Tu We Th Fr Sa
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30
        5 월
Su Mo Tu We Th Fr Sa
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28 29 30 31
        6 월
Su Mo Tu We Th Fr Sa
             1  2  3
 4  5  6  7  8  9 10
11 12 13 14 15 16 17
18 19 20 21 22 23 24
25 26 27 28 29 30
        7 월
Su Mo Tu We Th Fr Sa
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30 31
        8 월
Su Mo Tu We Th Fr Sa
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30 31
        9 월
Su Mo Tu We Th Fr Sa
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28 29 30
        10 월
Su Mo Tu We Th Fr Sa
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31
        11 월
Su Mo Tu We Th Fr Sa
          1  2  3  4
 5  6  7  8  9 10 11
12 13 14 15 16 17 18
19 20 21 22 23 24 25
26 27 28 29 30
        12 월
Su Mo Tu We Th Fr Sa
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28 29 30
31