In [150]:
from IPython.display import IFrame

# 문자열 메소드 활용하기

## 변형

### `.capitalize()`, `title()`, `.upper()`

`.capitalize()` : 앞글자를 대문자로 만들어 반환합니다.

`.title()` : 어포스트로피나 공백을 이후를 대문자로 만들어 반환합니다.

`.upper()` : 모두 대문자로 만들어 반환합니다.

In [2]:
a = "hi my name is changhee"
a.capitalize()

'Hi my name is changhee'

In [4]:
a.title()

'Hi My Name Is Changhee'

In [8]:
a = a.upper()
print(a)

HI MY NAME IS CHANGHEE

### `lower()`, `swapcase()`

`lower()` : 모두 소문자로 만들어 반환합니다.

`swapcase()` : 대<->소문자로 변경하여 반환합니다.

In [11]:
print(a)
a.lower()

HI MY NAME IS CHANGHEE

'hi my name is changhee'

In [12]:
a = "Hi My Name is Changhee"
a.swapcase()

'hI mY nAME IS cHANGHEE'

### `.join(iterable)`

특정한 문자열로 만들어 반환합니다.

In [17]:
"!".join("열공합시다")

'열!공!합!시!다'

In [18]:
"".join(["s","s","a","f","y"])

'ssafy'

### `.replace(old, new[, count])`

바꿀 대상 글자를 새로운 글자로 바꿔서 반환합니다. 

count를 지정하면 해당 갯수만큼만 시행합니다.

In [21]:
"hihi".replace("h","H")

'HiHi'

In [24]:
"wooooooooooooow".replace("o","",5)

'woooooooow'

### 글씨 제거 (`strip([chars])`)

특정한 문자들을 지정하면,  양쪽을 제거하거나 왼쪽을 제거하거나(lstrip) 오른쪽을 제거합니다(rstrip)

지정하지 않으면 공백을 제거합니다.

In [31]:
a = "               wow!!"
print(a)
print(a.strip())
print(a.strip("!"))
b = "         hihi!!!             "
b.lstrip()
b.rstrip()

               wow!!
wow!!
               wow

'         hihi!!!'

## 탐색 및 검증

### `.find(x)` : x의 첫 번째 위치를 반환합니다. 없으면, -1을 반환합니다.

In [33]:
"apple".find("a")

0

In [34]:
"apple".find("z")

-1

### `.index(x)` : x의 첫번째 위치를 반환합니다. 없으면, 오류가 뜹니다.

In [37]:
"apple".index("p")

1

In [38]:
"apple".index("z")

ValueError: substring not found

### 다양한 확인 메소드 : 참/거짓 반환
```
.isaplha(), .isdecimal(), .isdigit(), .isnumeric(), .isspace(), .issuper(), .istitle(), .islower()
```

## `split()`

문자열을 특정한 단위로 나누어 리스트로 반환합니다.

In [42]:
a = "my name is changhee"
a.split()
b = "my_name_is_changhee"
b.split("_")

my_list = b.split("_")
for i in my_list:
    print(i)

my
name
is
changhee

# 리스트 메소드 활용하기

## 값 추가 및 삭제

### `.append(x)`

리스트에 값을 추가할 수 있습니다.

In [45]:
caffe = ['starbucks', 'tomntoms', 'twosomeplace']
print(caffe)
caffe.append("paskuchi")
print(caffe)

['starbucks', 'tomntoms', 'twosomeplace']
['starbucks', 'tomntoms', 'twosomeplace', 'paskuchi']

In [46]:
# 절때 사용할건 아니지만 조금 어렵게 넣어봅시다.
caffe[len(caffe):] = ['ediya']
print(caffe)

['starbucks', 'tomntoms', 'twosomeplace', 'paskuchi', 'ediya']

### `.extend(iterable)`

리스트에 iterable(list, range, tuple, string*유의*) 값을 붙일 수가 있습니다.

In [74]:
print(caffe)
my_caffe = "카페"
caffe.extend(my_caffe)
print(caffe)

['starbucks', 'tomntoms', 'twosomeplace', 'paskuchi', 'ediya', '카', '페']
['starbucks', 'tomntoms', 'twosomeplace', 'paskuchi', 'ediya', '카', '페', '카', '페']

In [76]:
caffe += ['mccafe', 'ssafy_cafe']
print(caffe)

['starbucks', 'tomntoms', 'twosomeplace', 'paskuchi', 'ediya', '카', '페', '카', '페', 'mccafe', 'ssafy_cafe', 'mccafe', 'ssafy_cafe']

### `insert(i, x)`

정해진 위치 `i`에 값을 추가합니다.

In [78]:
caffe.insert(0, "my_caffe")
print(caffe)

['my_caffe', 'my_caffe', 'starbucks', 'tomntoms', 'twosomeplace', 'paskuchi', 'ediya', '카', '페', '카', '페', 'mccafe', 'ssafy_cafe', 'mccafe', 'ssafy_cafe']

In [80]:
# 위의 caffe 리스트에 맨 마지막 부분에 insert를 사용해서 'bye'를 넣어주세요
caffe.insert(len(caffe),'bye')
print(caffe)

['my_caffe', 'my_caffe', 'starbucks', 'tomntoms', 'twosomeplace', 'paskuchi', 'ediya', '카', '페', '카', '페', 'mccafe', 'ssafy_cafe', 'mccafe', 'ssafy_cafe', 'bye', 'bye']

In [81]:
caffe.insert(len(caffe)+50, '????')
print(caffe)

['my_caffe', 'my_caffe', 'starbucks', 'tomntoms', 'twosomeplace', 'paskuchi', 'ediya', '카', '페', '카', '페', 'mccafe', 'ssafy_cafe', 'mccafe', 'ssafy_cafe', 'bye', 'bye', '????']

### `remove(x)`

리스트에서 값이 x인 것을 삭제합니다.

In [83]:
a = [1,2,3,123,1,2,3]
print(a)

[1, 2, 3, 123, 1, 2, 3]

In [87]:
a.remove(1)
print(a)

ValueError: list.remove(x): x not in list

### `.pop(i)`

정해진 위치 `i`에 있는 값을 삭제하며, 그 항목을 반환합니다.

`i`가 지정되지 않으면 마지막 항목을 삭제하고 되돌려줍니다.

In [124]:
a = [1,2,3,4,5]
a.pop()
print(a)

[1, 2, 3, 4]

In [127]:
a.pop(0)
print(a)

[3, 4]

In [128]:
a = [1,2,3,4,5]
delete_value = a.pop()
print(f"{delete_value}가 삭제되어서 남은 요소는 {a} 입니다")

5가 삭제되어서 남은 요소는 [1, 2, 3, 4] 입니다

## 탐색 및 정렬

### `.index(x)`

원하는 값을 찾아 index 값을 반환합니다.

In [131]:
a = [1,2,3,4,5,1,2,3]
a.index(3)

2

### `.count(x)`

원하는 값의 갯수를 확인할 수 있습니다.

In [134]:
a.count(5)

1

In [135]:
a = [1,2,3,1,2,3,4,3,3,3,3,3,3,3,3,3,3,3] # => [1,2,1,2,4]
# a의 요소중에서 3을 전부 제거해주세요 .remove()를 활용해서
target = 3
for i in range(a.count(target)):
    a.remove(target)
print(a)

[1, 2, 1, 2, 4]

### `.sort()`

정렬을 합니다. 

sorted()와는 다르게 원본 list를 변형시키고, None을 리턴합니다.

In [139]:
import random
numbers = range(1,46)
pick = random.sample(numbers, 6)
print(pick)
print(pick.sort())
print(pick)

[5, 20, 39, 42, 41, 23]
None
[5, 20, 23, 39, 41, 42]

In [141]:
pick = [5,4,3,2,1]
sorted(pick)
print(pick)

[5, 4, 3, 2, 1]

### `reverse()`

반대로 뒤집습니다. (정렬 아님)

In [142]:
numbers = [5, 20, 23, 39, 41, 42]
numbers.reverse()
print(numbers)

[42, 41, 39, 23, 20, 5]

## 복사

In [143]:
# 리스트 복사를 해봅시다.
original_list = [1,2,3,4,5]
copy_list = original_list

In [147]:
# b의 값을 바꾸고 a를 출력해봅시다.
print(original_list)
print(copy_list)
copy_list[-1] = 99
print(copy_list)
print(original_list)

[1, 2, 3, 4, 99]
[1, 2, 3, 4, 99]
[1, 2, 3, 4, 99]
[1, 2, 3, 4, 99]

In [148]:
# 실제로 같은지 확인해봅시다.
print(id(original_list)==id(copy_list))

True

In [149]:
# 숫자를 확인해봅시다.
a = 10000
b = a
b = 20000
print(a)
print(b)

10000
20000

In [ ]:
# 딕셔너리도 확인해봅시다.

In [151]:
IFrame('https://goo.gl/vx1yGx', width='100%', height='300px')

In [ ]:
IFrame('https://goo.gl/N43pw6', width='100%', height='300px')

* 파이썬에서 모든 변수는 객체의 주소를 가지고 있을 뿐입니다. 

```
num = [1, 2, 3]
```

* 위와 같이 변수를 생성하면 hong이라는 객체를 생성하고, 변수에는 객체의 주소가 저장됩니다.


* 변경가능한(mutable) 자료형과 변경불가능한(immutable) 자료형은 서로 다르게 동작합니다.

따라서, 복사를 하고 싶을 때에는 다음과 같이 해야한다.

In [152]:
# 복사 예시
a = [1,2,3]
b = a[:]
b[0] = 5
print(a)

[1, 2, 3]

In [153]:
# 복사 예시2
a = [4,5,6]
b = list(a)
b[0] = 1
print(a)

[4, 5, 6]

In [154]:
IFrame('https://goo.gl/ZH6yZd', width='100%', height='300px')

* 하지만, 이렇게 하는 것도 일부 상황에만 서로 다른 얕은 복사(shallow copy)입니다.

In [155]:
# 얕은 복사 예시
a = [1,2,[1,2]]
b = list(a)
b[2][1] = 5
print(a)

[1, 2, [1, 5]]

In [ ]:
IFrame('https://goo.gl/FZcYbJ', width='100%', height='300px')

* 만일 중첩된 상황에서 복사를 하고 싶다면, 깊은 복사(deep copy)를 해야합니다. 

* 즉, 내부에 있는 모든 객체까지 새롭게 값이 변경됩니다.

In [156]:
# 깊은 복사 예시
import copy
a = [1,2,[1,2]]
b = copy.deepcopy(a)
b[2][1] = 5
print(a)

[1, 2, [1, 2]]

In [ ]:
IFrame('https://goo.gl/dtnCzY', width='100%', height='300px')

## 삭제 `clear()`

리스트의 모든 항목을 삭제합니다.

In [157]:
a = [1,2,3,4,5,6,7,8,9,4,5,6,4,5,6,4,5,6,4,5,6]
a.clear()
print(a)

[]

# List Comprehension

List를 만들 수 있는 간단한 방법이 있습니다.

## 사전 준비

> 다음의 리스트를 만들어보세요. 

1. 1~10까지의 숫자 중 짝수만 담긴 리스트 `even_list`

2. 1~10까지의 숫자로 만든 세제곱 담긴 리스트 `cubic_list`

In [160]:
even_list = [ i*2 for i in range(1,6) ]
print(even_list)

[2, 4, 6, 8, 10]

In [162]:
cubic_list = [ i**3 for i in range(1,11) ]
print(cubic_list)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

## 활용법

여러개의 `for` 혹은 `if`문을 중첩적으로 사용 가능합니다.

## 연습 문제

### 짝짓기 - 곱집합

> 주어진 두 list의 가능한 모든 조합을 담은 `pair` 리스트를 만들어주세요.

1. 반복문 활용
2. list comprehension 활용

---

```
girls = ['jane', 'iu', 'mary']
boys = ['justin', 'david', 'kim']

예시 출력)
    
[('justin', 'jane'), ('justin', 'iu'), ('justin', 'mary'), ('david', 'jane'), ('david', 'iu'), ('david', 'mary'), ('kim', 'jane'), ('kim', 'iu'), ('kim', 'mary')]
```

In [167]:
girls = ['jane', 'iu', 'mary']
boys = ['justin', 'david', 'kim']
pair = []
for girl in girls:
    for boy in boys:
        pair.append((girl,boy))
print(pair)

[('jane', 'justin'), ('jane', 'david'), ('jane', 'kim'), ('iu', 'justin'), ('iu', 'david'), ('iu', 'kim'), ('mary', 'justin'), ('mary', 'david'), ('mary', 'kim')]

In [168]:
girls = ['jane', 'iu', 'mary']
boys = ['justin', 'david', 'kim']
pair = [(girl,boy) for girl in girls for boy in boys]
print(pair)

[('jane', 'justin'), ('jane', 'david'), ('jane', 'kim'), ('iu', 'justin'), ('iu', 'david'), ('iu', 'kim'), ('mary', 'justin'), ('mary', 'david'), ('mary', 'kim')]

### 피타고라스 정리

> 주어진 조건(x < y < z < 50) 내에서 피타고라스 방정식의 해를 찾아보세요.

1. 반복문 활용

2. list comprehension 활용

```
예시 출력)
[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (12, 16, 20), (12, 35, 37), (15, 20, 25), (15, 36, 39), (16, 30, 34), (18, 24, 30), (20, 21, 29), (21, 28, 35), (24, 32, 40), (27, 36, 45)]
```

In [170]:
result = []
for x in range(1,50):
    for y in range(x+1,50):
        for z in range(y+1,50):
            if x**2 + y**2 == z**2:
                pita = (x,y,z)
                result.append(pita)
print(result)

[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (12, 16, 20), (12, 35, 37), (15, 20, 25), (15, 36, 39), (16, 30, 34), (18, 24, 30), (20, 21, 29), (21, 28, 35), (24, 32, 40), (27, 36, 45)]

In [172]:
result = [(x,y,z) for x in range(1,50) for y in range(x+1,50) for z in range(y+1,50) if x**2 + y**2 == z**2]
print(result)

[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (12, 16, 20), (12, 35, 37), (15, 20, 25), (15, 36, 39), (16, 30, 34), (18, 24, 30), (20, 21, 29), (21, 28, 35), (24, 32, 40), (27, 36, 45)]

### 모음 제거하기

> 다음의 문장에서 모음(a, e, i, o, u)를 모두 제거하시오.

1. list comprehension만 사용해보세요.

``` 
    words = 'Life is too short, you need python!'

    예시출력)
    Lf s t shrt, y nd pythn!
```

In [175]:
words = 'Life is too short, you need python!'
vowel = 'aeiou'
result = [x for x in words if x not in vowel ]
print(result)
"".join(result)

['L', 'f', ' ', 's', ' ', 't', ' ', 's', 'h', 'r', 't', ',', ' ', 'y', ' ', 'n', 'd', ' ', 'p', 'y', 't', 'h', 'n', '!']

'Lf s t shrt, y nd pythn!'

# 딕셔너리 메소드 활용

## 추가 및 삭제

### `.pop(key[, default])`

key가 딕셔너리에 있으면 제거하고 그 값을 돌려줍니다. 그렇지 않으면 default를 반환합니다.

default가 없는 상태에서 딕셔너리에 없으면 KeyError가 발생합니다.

### `.update()`

값을 제공하는 key, value로 덮어씁니다.

### `.get(key[, default])`

key를 통해 value를 가져옵니다. 

절대로 KeyError가 발생하지 않습니다. default는 기본적으로 None입니다.

## dictionary comprehension

dictionary도 comprehension을 활용하여 만들 수 있습니다. 

* 추후에 zip, map 등을 배우고 다시 다루도록 하겠습니다 :)